.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 24px;

    background-color: #5068F1;
}

.footer .contatos img {
    margin-right: 24px;
}

.footer .direitos {
    color: #fff;
}