.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding: 1em;
}

.footer h2 {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}