* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.mainTaskFrame {
  width: 60vw;
  background-color: #7fffd4;
  padding: 16px;
  border-radius: 20px;

  h1 {
    text-align: center;
  }

  .taskList {
    margin: 16px auto;
    height: 60vh;
    overflow-y: scroll;

    .eachTask {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      width: 95%;
      padding: 6px;
      margin: 12px auto;
      background-color: #008d5e;
      border-radius: 6px;
      color: #fff;
      text-shadow: 1px 1px 1px #00000073;
      font-size: 20px;

      .buttons-area {
        button {
          margin: 0 6px;
          font-size: 24px;
          color: #fff;
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
      }
    }
  }

  footer {
    text-align: center;

    .textArea {
      display: flex;
      flex-direction: column;
  
      label {
        text-align: center;
        font-size: 24px;
        color: #fff;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.547);
      }
  
      .addTaskArea {
        display: flex;
        width: 100%;

        input {
          text-align: center;
          margin: 12px 0;
          padding: 8px;
          width: 90%;
          border: none;
          border-radius: 15px;
          box-shadow: 2px 5px 6px #00000099;
          font-size: 24px;
        }

        button {
          display: grid;
          place-items: center;
          width: 10%;
          font-size: 65px;
          margin: 0 12px;
          border-radius: 50%;
          border: none;
          background-color: #008d5e;
          color: #7fffd4;
          cursor: pointer;
        }
      }
    
    }
  }
}

.taskList::-webkit-scrollbar {
  width: 0;
}